#gameboard {
    width: 840px;
    height: 528px;
    background-color: aqua;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.boardTail {
    width: 82px;
    height: 64px;
    margin: 0px;
    padding: 0px;
    border: 1px dotted aqua;
}
.boardTail:hover {
    border-color: blue;
}

.piece {
    position: relative;
    z-index: 10;
}

.boardTail svg {
    width: 74px;
    height: 56px;
    margin: 5px;
    position: relative;
}

.red-fish {
    fill: #dd2443;
}

.blue-fish {
    fill: blue;
}

.green-fish {
    fill: green;
}

.yellow-fish {
    fill: yellow;
}
